.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #395ee6;
  }

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  a {
    display: flex;
    height: 25px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
  }
  span {
    color: #fff;
    display: none;
  }
  a:hover {
    svg {
      display: none;
    }
    span {
      align-items: center;
      display: block;
    }
  }
}