.nav {
  color: #c5c5c5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background: linear-gradient(to right bottom, #2999f5, #1859d1);
  }

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  a {
    display: flex;
    margin: 10px 0px;
    height: 25px;
    padding: 15px;
    border-radius: 5px;
  }

  span {
    color: #fff;
    display: none;
  }

  a:hover {
    svg {
      display: none;
    }
    span {
      text-align: center;
      display: block;
    }
  }
}