.projects__wrapper {
  margin: 20px 0px;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
}


.projects__card {
  margin: 20px 0px;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
}

.modal__header {
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__header_links {
  a {
    margin-left: 10px;
    color: #2999f5;
    padding: 8px 16px;
    border-radius: 25px;
  }
  a:hover {
    color: #fff;
    background: linear-gradient(to right bottom, #2999f5, #1859d1);
  }
}