.skills__card {
  margin: 20px 0px;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
}

.skills__item {
  width: 10vw;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  img {
    width: 80px;
  }
  p {
    margin-top: 5px;
  }
}