.title {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 50px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.title__prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
}