// typography
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';
@import "https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Tinos&display=swap";

p {
  font-family: 'Lexend Deca', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
}

.app {
  display: flex;
  flex-direction: row;
}

.app__content {
  margin-left: 100px;
  width: 100%;
}

.container {
  padding: 0px 150px;
}

.full {
  min-height: 100vh;
}

.button {
  all: unset;
  color: #1859d1;
  padding: 5px 12px;
  margin-left: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: #f7f7f7;
}

.hover:hover {
  box-shadow: 5px 5px #ddd;
}

#white {
  color: #fff;
}

@media (max-width: 856px) {
  .app__content {
    margin-left: 0px;
  }

  .container {
    padding: 0px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
}